body{
width: 100%;
height: 100%;
background-color:black;
}
#top{
position: fixed;
width: 100%;
height: 9%;
left: 0px;
top: 0px;

color: #FFFFFF;
background: #000000;
opacity: 0.5;
}
#mySidebar{
  position:fixed;
  top: 9%;
  opacity: 0.5;
}
#logo{
position: absolute;
left: 5%;
top: 25%;
bottom:25%
width: 18.2%;
height: 65.4%;
}
#homepage_backgroud{
position: absolute;
width:100%;
height: 0;
padding-bottom: 60.7%;
overflow: hidden;
background-image: url("../images/maroon5.gif");
background-size: 100% 100%;
}
#about_backgroud{
position: absolute;
width:100%;
height: 0;
padding-bottom: 33.3%;
overflow: hidden;
background-image: url("../images/background.jpg");
background-size: 100% 100%;
}
#gif{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0
}
.index{
  position: absolute;
  top:25%;
  font-family: "Zhi Mang Xing";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
}
#about{
left: 26.5%;
}
#albums{
left: 41.57%;
}
#media{
left: 58.5%;
}
#merch{
left: 73.79%;
}
#tours{
left: 88.93%;
}
.Social_Media_Img{
  position: fixed;
  width: 30px;
  height: 30px;
  top: 95%;
}
#ins{
  left: 62.35%;
}
#twit{
  left: 73%;
}
#fb{
  left: 83.8%;
}
.Social_Media_Text{
position: fixed;
top: 95%;
width: 88px;
height: 30px;

font-family: "Boogaloo";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
color: #FFFFFF;
}
#Ins{
  left: 65%;
}
#Twit{
  left: 75.8%;
}
#Fb{
  left:86.5%;
}
#content{
  text-align: justify;
  font-size:24px;
  font-family: "Baloo Tamma 2";
  font-style: normal;
  font-weight: normal;
}
